In [ ]:
daddy = "Thomas Bao"
classmate2 = "Collin Ge"
classmate3 = "Aarush Gota"
me = "Ian Manangan"

# Printing out team members
print("Team Leader:", daddy)
print("Classmate:", classmate2)
print("Classmate:", classmate3)
print("Me:", me)